<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>animals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/animals/styles.css') }}?v={{ timestamp }}">

</head>
<body>
    <button class="btn-home" onclick="window.location.href='/'">home</button>
    <h1 class="title">Bem-vindo ao Cat or Dog!</h1>
        <section class="sectbtns">
            <button class="btnanimal" onclick="audioCat()" name="cat">
                <img class="btnanimal img" src="{{url_for('static',filename='assets/crazy_cat.jpeg')}}" alt="felino alérgico á internet">
                <span>Meow</span>
            </button>
           
            <button class="btnanimal" onclick="audioDog()" name="dog">
                <img class="btnanimal img" src="{{url_for('static',filename='assets/dogout.jpeg')}}" alt="doguinho caramelo chinês">
                <span>AUUU</span>
            </button>
        </section>
        <div class="secaudio" id="audio-container"></div>
    <script>
        function audioCat(){
            let container = document.getElementById("audio-container");
            container.innerHTML = `
                <audio controls autoplay>
                    <source src="{{url_for('static',filename='assets/miau.mp3')}}" type="audio/mp3">
                    Seu navegador não suporta audio.
                </audio>
            `;
        }
        function audioDog(){
            let container = document.getElementById("audio-container");
            container.innerHTML = `
                <audio controls autoplay>
                    <source src="{{url_for('static',filename='assets/au.mp3')}}" type="audio/mp3">
                    Seu navegador não suporta audio.
                </audio>
            `;
        }
    </script>
    
</body>
</html>