body{
    background-color: rgb(16, 95, 95);
}
.title{
    color: darkgoldenrod;
    font-size: 25px;
    border-top: 23;
    border-left: 50;
}
.btn-home{
    cursor: pointer;
    height: 40px;
    border-color: blue;
    border-style:solid;
    border-radius: 10px;
}
.sectbtns{
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: center
}
.btnanimal{
    --background-color: black;
    background-color: var(--background-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    margin: 2%;
    justify-content: center;
    transition: background-color 0.3s ease;
}
.btnanimal img{
    border-radius: 20px;
    width: 80px;
    height: 55px;
    object-fit: contain;
}
.btnanimal span{
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    color: black;
}
.btnanimal::after{
    content: "";
    width: 60%;
    height: 7px;
    border-radius: 10px;
    background-color: #ff6600;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}
.btnanimal:hover{
    background-color: #ff6600;
}
.btnanimal:hover::after{
    background-color: black;
}
.secaudio{
    display: flex;
    flex-direction: column;
    justify-self: center;
}