body{
    background-color: rgb(61, 52, 52);
}

.title{
    color: orange;
    font-size: 25px;
    border-top: 23;
    border-left: 50;
}
.form-login{
    background-color: orange;
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 1%;
}
.bt-entrar{
    margin: 5%;
}
.form-login .erro{
    color: red;
    font-size: 50px;
    align-items: center;

}