<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage</title>
    <link rel="stylesheet" href="{{url_for('static',filename='pages/cars/styles.css')}}?v={{timestamp}}">
</head>
<body>
    <button class="btn-home" onclick="window.location.href='/'">home</button>
    <button class="add-carro" onclick="formCar()">Adicionar carro</button>
    <div id="add-car-container"></div>
    
    <h1 class="title">Sua Garagem:</h1>
    <div id="garage"></div>

    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora expedita vero fuga dolores veniam sequi corrupti repellendus nulla, quisquam sit quam provident quas, odio dolore perspiciatis obcaecati dignissimos ea placeat?</h1>

    <script>
        function formCar(){
            let container = document.getElementById("add-car-container");
                container.innerHTML= `
            
                    <label class="label">
                        <p class="p">Marca</p>    
                    </label>
                    <input id="marca" type="text" placeholder="Ex. Honda" required>

                    <label class="label">
                        <p class="p">Modelo</p>    
                    </label>
                    <input id="modelo" type="text" placeholder="Ex. Civic" required>

                    <label class="label">
                        <p class="p">Ano</p>    
                    </label>
                    <input id="ano"  type="text" placeholder="Ex. 2025" required>

                    <button class="guardar-carro" onclick="guardarCar()" type="submit">Guardar carro</button>
            `;
                
        }
    </script>
    <script type="module" src="{{url_for('static',filename='scripts/guardarCar.js')}}"></script>
</body>
</html>