<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage</title>
    <link rel="stylesheet" href="{{url_for('static',filename='pages/cars/styles.css')}}?v={{timestamp}}">
</head>
<body>
    <button onclick="window.location.href='/'">home</button>
    <button class="add-car" onclick="addCar()">Adicionar carro</button>
    <div id="add-car-container"></div>
    
    <h1 class="title">Sua Garagem:</h1>
    <div id="garage"></div>

    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora expedita vero fuga dolores veniam sequi corrupti repellendus nulla, quisquam sit quam provident quas, odio dolore perspiciatis obcaecati dignissimos ea placeat?</h1>

    <script>
        function addCar(){
            let container = document.getElementById("add-car-container");
            container.innerHTML= `
            <label class="label">
                <p id="marca" class="p">Marca</p>    
            </label>
            <input type="text" placeholder="Ex. Honda">

            <label class="label">
                <p id="modelo" class="p">Modelo</p>    
            </label>
            <input type="text" placeholder="Ex. Civic">

            <label class="label">
                <p id="ano" class="p">Ano</p>    
            </label>
            <input type="text" placeholder="Ex. 2025">

            <button class="guardar-carro" onclick="guardarCar()" type="submit">Guardar carro</button>`;
        }
        function guardarCar(){
            let marca = document.getElementById("marca");
            let modelo = document.getElementById("modelo");
            let ano = document.getElementById("ano");
        
            let garage = {'Marca': marca, 'Modelo':modelo,'Ano':ano};

            let container = document.getElementById("garage");
            container.innerHTML = `<scrpt>garage</script>`

        }
    </script>
</body>
</html>