<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="{{url_for('static',filename='pages/bank/styles.css')}}?v={{timestamp}}">
</head>
<body>
    
    <button onclick="window.location.href='/'">home</button>
    <h1 class="title">Bem-vindo ao banco!</h1>
    <form class="form-login" action="/banco" method="post">
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Senha">
        <button class="bt-entrar" type="submit">Entrar</button>
    </form>

    {% if input %}
        <p style="color: green;">Email:  '{{input}}' validado com sucesso</p>
    {% endif %}
    {% if error %}
        <p style="color: red;">{{error}}</p>
    {% endif %}

</body>
</html>