<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereços</title>
    <link rel="stylesheet" href="{{url_for('static',filename='pages/elocations/styles.css')}}?v={{timestamp}}">
</head>
<body>
    <button onclick="window.location.href='/'">home</button>
    <form action="/" method="post">
    <h1 class="title">Lista de endereços</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora expedita vero fuga dolores veniam sequi corrupti repellendus nulla, quisquam sit quam provident quas, odio dolore perspiciatis obcaecati dignissimos ea placeat?</p>
</body>
</html>