body{
    background-color: rgb(12, 1, 114);
}
.title{
    color: rgb(255, 255, 255);
    font-size: 25px;
    border-top: 23;
    border-left: 50;
}
div{
    border-color: aqua;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    margin: 10%;
    margin-bottom: 5%;
}
.label{
    background-color: aqua;
    width: 20%;
    border-color: aliceblue;
    border-radius: 0px 20px 0px 0px;
    border-width: 0px;
    height: 20px;
    display: flex;
    justify-content:initial;
    padding-top: 0px;
    padding-bottom: 15px;
}
.p{  
    color:blue;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}
input{
    padding: 2%;
    border-color: blue;
    margin-bottom: 2%;
}
.btn-home{
    cursor: pointer;
}
section{
    background-color: white;
}
.add-carro{
    cursor: pointer;
}
.guardar-carro{
    cursor: pointer;
    padding: 2%;
    height: 50%;
    margin-top: 5%;
    border-width: 55%;
    border-radius: 0px 15px 0px 15px;
    border-color: aliceblue;
    background-color: aqua;
}
