<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central de Programas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='pages/home/styles.css')}}?v={{timestamp}}">
</head>

<body class=body>
    <header >cabeçalho</header>

    <section >
        <h1 class="title">Bem-vindo á minha central de programas em python! </h1>
        <p>De início são programas simples com intuito de praticar POO.</p>
        <p>Porém estou atualizando e criando mais funcionalidades.
        Em breve será possível exportar seus dados ;) </p>
        
    </section>
    <aside>
        <button onclick="window.location.href='/animals'">Cat or Dog</button>
        <button onclick="window.location.href='/banco'">
            Banco Inter</a>
        </button>
        <button onclick="window.location.href='/garage'">Garagem</button>
        <button onclick="window.location.href='/locations'">endereços</button>
        <button onclick="window.location.href='/conversor'">Conversor de Temperaturas</button>
    </aside>
    <footer style="color: green;">sou o rodapé</footer>
    
</body>
</html>